# Initial assembly Idotea genome using 2 * 300 bp Ilumina libraries (P2038 and P3755) and 2 * 550 bp libraries (P4454 1 and 2).
# This assembly uses parameters estimated by SGA preQC. Genome size estimated to 950 Mb by preQC. Optimal k is 68 according to preqc.
# 
# Pierre De Wit, 23 Aug 2016

#maximal read length
max_rd_len=300bp

#P3755: This library consist of 150 bp reads, insert size estimated to 350bp (from preQC)
[LIB]
#average insert size
avg_ins=350
#Paired end library, orientation is correct as it is
reverse_seq=0

#Use this library for all steps
asm_flags=3

#in which order the reads are used while scaffolding, starting with shortest inserts first
rank=1

#Using cutoff of 3
pair_num_cutoff=3

#Standard mapping length
map_len=32

#Pair of fastq files
q1=P3755_forward_paired.fastq
q2=P3755_reverse_paired.fastq

#Single reads
q=P3755_forward_unpaired.fastq
q=P3755_reverse_unpaired.fastq

#P2038: This library consist of 125 bp reads, insert size estimated to 380bp (from preQC)
[LIB]
#average insert size
avg_ins=380
#Paired end library, orientation is correct as it is
reverse_seq=0

#Use this library for all steps
asm_flags=3

#in which order the reads are used while scaffolding, starting with shortest inserts first
rank=2

#Using cutoff of 3
pair_num_cutoff=3

#Standard mapping length
map_len=32

#Pair of fastq files
q1=5_150827_AC7GAYANXX_P2038_201_1.fastq
q2=5_150827_AC7GAYANXX_P2038_201_2.fastq

#Single reads
q=5_150827_AC7GAYANXX_P2038_201_1_u.fastq
q=5_150827_AC7GAYANXX_P2038_201_2_u.fastq


#P4454_1: This library consists of 300 bp reads, insert size estimated to 550bp (from preQC)
[LIB]
#average insert size
avg_ins=550
#Paired end library, orientation is correct as it is
reverse_seq=0

#Use this library for all steps
asm_flags=3

#in which order the reads are used while scaffolding, starting with shortest inserts first
rank=3

#Using cutoff of 3
pair_num_cutoff=3

#Standard mapping length
map_len=32

#Pair of fastq files
q1=P4454_101_S1_L001_R1_001.fastq
q2=P4454_101_S1_L001_R2_001.fastq

#Single reads
q=P4454_101_S1_L001_R1_001_u.fastq
q=P4454_101_S1_L001_R2_001_u.fastq

#P4454_2: This library consists of 300 bp reads, insert size estimated to 550bp (from preQC)
[LIB]
#average insert size
avg_ins=550
#Paired end library, orientation is correct as it is
reverse_seq=0

#Use this library for all steps
asm_flags=3

#in which order the reads are used while scaffolding, starting with shortest inserts first
rank=3

#Using cutoff of 3
pair_num_cutoff=3

#Standard mapping length
map_len=32

#Pair of fastq files
q1=P4454_101_S1_L002_R1_001.fastq
q2=P4454_101_S1_L002_R2_001.fastq

#Single reads
q=P4454_101_S1_L002_R1_001_u.fastq
q=P4454_101_S1_L002_R2_001_u.fastq

